<!-- <ion-header no-border> -->
<ion-header>
    <ion-toolbar color="dark" >
        <ion-title>
            CheckList! - Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <app-listas [_terminada]="false"></app-listas>
<!--
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary"
                        (click)="agregarLista()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="abrirModal()"> 
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>